# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# Databases
*.db
*.sqlite
*.sqlite3

# Archives and Logs
*.zip
*.html
*.log

# Mac
.DS_Store

# React Native / Node
node_modules/
.expo/
